.chart-dimensions {
  height: 75vh; 
  min-width: 310px; 
  max-width: 1220px; 
  width: 1220px;
  margin: 0 auto;
  overflow-x: scroll;
}


.bg-deep-koamaru {
  background-color: #2B3A67;
}


.bg-desire {
  background-color: #E84855;
}
