<div>
  <h1 class="text-center mt-1">COVID19 Cases in Pakistan</h1>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-6" style="padding-right: 3px;">
          <div class="card text-white bg-desire mb-3 text-center">
            <div class="card-header">Total Cases</div>
            <div class="card-body">
              <h5 class="card-title">53</h5>
            </div>
          </div>
        </div>
        <div class="col-md-6" style="padding-left: 0px;">
          <div class="card text-white bg-deep-koamaru mb-3 text-center">
            <div class="card-header">Last Updated</div>
            <div class="card-body">
              <h5 class="card-title">16/03/2020</h5>
            </div>
          </div>
        </div>
      </div>
      <table style="font-size: 0.9rem;" class="table table-striped">
        <thead>
          <th>
            Confirmed cases by Region
          </th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <td>ICT</td>
            <td>4</td>
          </tr>
          <tr>
            <td>Punjab</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Sindh</td>
            <td>34</td>
          </tr>
          <tr>
            <td>KP</td>
            <td>0</td>
          </tr>
          <tr>
            <td>KPTD</td>
            <td>0</td>
          </tr>
          <tr>
            <td>Balochistan</td>
            <td>5</td>
          </tr>
          <tr>
            <td>AJK</td>
            <td>0</td>
          </tr>
          <tr>
            <td>GB</td>
            <td>3</td>
          </tr>
          <tr>
            <td>Mobile Lab Taftan</td>
            <td>6</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <div class="chart-dimensions" [chart]="map"></div>
    </div>
    <div class="col-md-3">
        <div>
          <table style="font-size: 0.9rem;" class="table table-striped">
            <thead>
              <th>
              </th>
              <th>
                Deaths
              </th>
              <th>
                Recoveries
              </th>
            </thead>
            <tbody>
              <tr>
                <td>ICT</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Punjab</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Sindh</td>
                <td>0</td>
                <td>3</td>
              </tr>
              <tr>
                <td>KP</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>KPTD</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Balochistan</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>AJK</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>GB</td>
                <td>0</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>
        </div>
      <div class="row">
          <div class="col-sm">
            <div [chart]="linechart" class="mt-4"></div>
          </div>
      </div>
    </div>
  </div>
</div>