<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title text-center mb-0">Total Infected: 28</h5>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title text-center mb-0">March 4th 2020</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div [chart]="pchart" class="mt-4"></div>
        </div>
        <div class="col-sm">
          <div [chart]="tchart" class="mt-4"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6" style="position: relative;">
      <div class="chart-dimensions" [chart]="map"></div>
    </div>
  </div>
</div>-